<div class="products-container flexed col center">
  <div class="category" *ngFor="let event of events">
    <header class="category__header">
      <div class="sized-box-2"></div>

      <div class="banner">
        <app-banner-simple [bannerData]="event"
                           [backgroundPosition]="'left'"></app-banner-simple>
      </div>

      <div class="sized-box-2"></div>
    </header>

    <div class="category__products">
      <app-product-horizontal-list></app-product-horizontal-list>
    </div>
  </div>

  <div class="sized-box-4"></div>
  <div class="sized-box-4"></div>
</div>
