<!-- <nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item nzSelected>nav 1</li>
          <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul>
      </div>

      <nz-layout>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </nz-layout>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">

    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout> -->

<nz-layout class="app-container">
  <nz-header class="app-header">
    <div class="content-container app-header-content">
      <div class="logo">
        <img src="../assets/icons/logo.png" alt="">
      </div>

      <span class="spacer"></span>

      <div class="search flexed center">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input class="search-input" placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch class="search-submit">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </div>
      <span class="spacer"></span>

      <nz-space>
        <nz-space-item>
          <button nz-button nzType="primary" nzSize="medium" nzShape="circle">
            <i class="trigger"
               nz-icon
               nzType="search"></i>
          </button>
        </nz-space-item>

        <nz-space-item>
          <button (click)="isCollapsed = !isCollapsed" nz-button nzType="default" nzSize="large" nzShape="circle">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </button>
        </nz-space-item>
      </nz-space>
    </div>
  </nz-header>

  <nz-layout>

    <nz-layout>
      <div class="app-inner-layout">
        <router-outlet></router-outlet>
      </div>
    </nz-layout>

    <nz-sider nzWidth="300px"
              [nzCollapsedWidth]="0"
              [nzCollapsed]="isCollapsed"
              nzTheme="light"
              [ngStyle]="{'overflow': 'hidden'}">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
          <ul>
            <li nz-menu-item nzSelected>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>

  </nz-layout>
</nz-layout>
