<nz-layout class="app-container">
  <nz-header class="app-header">
    <div class="content-container app-header-content">
      <div class="logo">
        <img routerLink="/" src="../assets/icons/logo-darkest-full.png" alt="Pedacinhos de amor">
      </div>

      <span class="spacer"></span>

      <div class="search flexed center">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input class="search-input" placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch class="search-submit">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </div>
      <span class="spacer"></span>

      <nz-space>
        <nz-space-item>
          <nz-badge [nzCount]="(basketSvc.basket$ | async)?.totalItems">
            <button routerLink="/basket" aria-label="basket" nz-button nzType="primary" nzSize="medium"
                    nzShape="circle">
              <i class="trigger" nz-icon nzType="shopping" nzTheme="outline"></i>
            </button>
          </nz-badge>
        </nz-space-item>
      </nz-space>

      <div class="sized-box-05"></div>

      <button (click)="toggleNavbar()" aria-label="app-menu" nz-button nzType="default" nzSize="large" nzShape="circle">
        <i class="trigger"
           nz-icon
           [nzType]="showNavbar ? 'menu-unfold' : 'menu-fold'"></i>
      </button>
    </div>
  </nz-header>

  <nz-layout>

    <nz-layout>
      <div class="app-inner-layout flexed col">
        <ng-container *ngIf="loadingRoute; else elseTemplate">
          <div>
            Loading...
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <router-outlet></router-outlet>
        </ng-template>


        <footer class="app-footer" nz-typography>
          <div class="content-container padded flexed">

            <ul class="contact-list">
              <h3>Nas redes sociais</h3>

              <li>
                <a class="flexed center-y" href="#">
                  <i class="trigger icon" nz-icon nzType="facebook"></i>
                  <span>Pedacinhosdeamor</span>
                </a>
              </li>
              <li>
                <a class="flexed center-y" href="https://www.instagram.com/pedacinhosdeamor06">
                  <i class="trigger icon" nz-icon nzType="instagram"></i>
                  <span>Pedacinhosdeamor06</span>
                </a>
              </li>
            </ul>

            <ul class="contact-list">
              <h3>Contactos</h3>

              <li>
                <a class="flexed center-y" href="tel:923049043">
                  <i class="trigger icon" nz-icon nzType="phone"></i>
                  <span>923 049 043</span>
                </a>
              </li>
              <li>
                <a class="flexed center-y" href="https://wa.link/nfljve">
                  <i class="trigger icon" nz-icon nzType="whats-app"></i>
                  <span>923 049 043</span>
                </a>
              </li>
              <li>
                <a class="flexed center-y" href="mailto:pedacinhosdeamor06@gmail.com">
                  <i class="trigger icon" nz-icon nzType="mail"></i>
                  <span>pedacinhosdeamor06@gmail.com</span>
                </a>
              </li>
            </ul>

            <ul class="contact-list">
              <h3>Parceiros</h3>

              <li>
                <a class="flexed center-y" href="#">
                  <!-- <i class="trigger icon" nz-icon nzType="whatsapp"></i> -->
                  <span>Salgadinhos da Maria</span>
                </a>
              </li>
              <li>
                <a class="flexed center-y" href="#">
                  <!-- <i class="trigger icon" nz-icon nzType="whatsapp"></i> -->
                  <span>Moda Auria</span>
                </a>
              </li>
              <li>
                <a class="flexed center-y" href="#">
                  <!-- <i class="trigger icon" nz-icon nzType="whatsapp"></i> -->
                  <span>Molhos da Ana</span>
                </a>
              </li>
              <li>
                <a class="flexed center-y" href="#">
                  <!-- <i class="trigger icon" nz-icon nzType="mail"></i> -->
                  <span>Especiarias Trindade</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="developer">
            <div class="content-container padded-05 flexed center">
              <span>Criado por:</span>
              <a class="padded-05-x" href="https://github.com/Trindade7"> José Trindade</a>
            </div>
          </div>
        </footer>
      </div>
    </nz-layout>

    <nz-drawer [nzVisible]="showNavbar"
               nzPlacement="right"
               (nzOnClose)="toggleNavbar()">

      <div class="padding-2-y">
        <div class="logo">
          <img src="../assets/icons/logo.png" alt="">
        </div>
      </div>

      <div class="sized-box-2"></div>

      <ul class="contact-list" nz-menu nzMode="inline" class="sider-menu">
        <li routerLink="/" nz-menu-item nzSelected>Home</li>
        <li routerLink="/products" nz-menu-item nzSelected>Todos productos</li>
        <li routerLink nz-menu-item>Fale conosco</li>
      </ul>

      <div class="sized-box-4"></div>

      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item>
          <i class="trigger" nz-icon nzType="instagram"></i>
          Pedacinhosdeamor06
        </li>
        <li nz-menu-item>
          <i class="trigger" nz-icon nzType="facebook"></i>
          <span>Pedacinhosdeamor</span>
        </li>
        <li nz-menu-item>
          <i class="trigger" nz-icon nzType="whats-app"></i>
          <span>923 049 043</span>
        </li>
      </ul>
    </nz-drawer>
  </nz-layout>
</nz-layout>
