<div class="product">
    <a [routerLink]="['/products/', product.id]">
        <div class="image">
            <img [src]="product.imageUrl" [alt]="product.name">
        </div>
    </a>

    <div class="info padded-05-x">
        <a [routerLink]="['/products/', product.id]" nz-typography>
            <strong>{{product.name}}</strong>
        </a>

        <div class="price">
            <div nz-typography>
                <nz-space [nzSize]="'middle'">
                    <nz-space-item>
                        <span *ngIf="hasDiscount"
                              nz-typography
                              nzType="danger"
                              nzDisabled>
                            <del *ngIf="hasDiscount">
                                {{product.price | currency: ' KZs '}}
                            </del>
                        </span>

                        <span *ngIf="!hasDiscount" nz-typography nzType="danger">
                            <strong *ngIf="!hasDiscount">
                                {{finalPrice | currency: ' KZs '}}
                            </strong>
                        </span>
                    </nz-space-item>

                    <nz-space-item *ngIf="hasDiscount">
                        <span nz-typography nzType="danger">
                            <strong>{{finalPrice | currency: ' KZs '}}</strong>
                        </span>
                    </nz-space-item>
                </nz-space>
            </div>

            <span *ngIf="false" nz-typography nzType="danger">
                <strong>{{product.discount | currency: ' KZs '}}</strong>
            </span>
        </div>
        <div class="extras flexed">
            <nz-rate [ngModel]="product.averageReview" nzAllowHalf nzDisabled></nz-rate>

            <span class="spacer"></span>

            <button (click)="onAction()"
                    *ngIf="showActionButton"
                    class="add-to-basket"
                    nz-button
                    nzType="default"
                    nzShape="circle">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
        </div>
    </div>
</div>
