.product {
    min-width: 100px;
    max-width: 250px;
    width: 100%;

    .image {
        max-width: 250px;
        max-height: 200px;

        img {
            border-radius: .5rem;
            width: 100%;
        }
    }

    .extras {
        margin-top: -14px;
    }

    h5.ant-typography,
    .ant-typography h5 {
        margin-bottom: 0;
    }
}