
.product {
    min-width: 170px;
    max-width: 200px;
    max-height: 140px;

    .image img{
        border-radius: .5rem;
        max-width: 200px;
        max-height: 140px;
    }

    h5.ant-typography, .ant-typography h5 {
        margin-bottom: 0;
    }
}