.home-container{
    padding: 3rem 0;

    .carousel-container{
        max-height: 300px;
        overflow-y: hidden;
    }

    .content-sections{
        width: 100%;
    }
    .content{
        width: 100%;
        max-width: 1000px;
    }
}