<div class="basket full-container">
  <section class="container padded">
    <header class="padded-2-y flexed" nzTypography>
      <h1>No seu cesto</h1>

      <span class="spacer"></span>

      <div *ngIf="(basketSvc.basket$ |async)?.totalPrice"
           class="flexed col center">
        <h3>{{(basketSvc.basket$ |async)?.totalPrice | currency: 'Kzs'}}</h3>

        <button (click)="basketSvc.placeOrder()"
                nz-button
                nzType="primary">
          <i nz-icon nzType="shopping-cart" nzTheme="fill"></i>
          Encomendar
        </button>
      </div>
    </header>

    <div class="flexed center">
      <button (click)="basketSvc.genMock()"
              nz-button
              nzType="accent">
        <i nz-icon nzType="test" nzTheme="fill" nzDanger></i>
        gen mock
      </button>
    </div>

    <ng-container *ngIf="basketSvc.items$ | async as items; else loadingItemsTemplate">
      <ng-container *ngIf="items.length; else emptyBasketTemplate">
        <div class="purchase" nz-row [nzGutter]="24">
          <div class="item" *ngFor="let item of items"
               nz-col
               nzXs="24"
               nzSm="12">
            <div class="flexed">
              <div class="product-container">
                <app-product [product]="item.product"
                             [showActionButton]="false">
                </app-product>
              </div>

              <span class="spacer"></span>

              <div class="summary flexed col center">
                <section class="quantity">
                  <label for="quantity">
                    <h3>Quantidade</h3>
                  </label>

                  <nz-input-number (ngModelChange)="addUnsaved(item.product.id)"
                                   [(ngModel)]="item.quantity"
                                   id="quantity"
                                   [nzMin]="1"
                                   [nzMax]="50"
                                   [nzStep]="1">
                  </nz-input-number>
                </section>

                <h3 class="padded-y">{{item.product.price * item.quantity | currency: 'Kzs '}}</h3>

                <span class="spacer"></span>

                <button (click)="updateItem(item)"
                        *ngIf="unsavedChanges.includes(item.product.id)"
                        nz-button
                        nzType="accent">
                  <i nz-icon nzType="save" nzTheme="fill"></i>
                  Atualizar
                </button>

                <div class="sized-box-05"></div>

                <button (click)="basketSvc.delete(item.product.id)"
                        nz-button
                        nzType="danger"
                        nzGhost>
                  <i nz-icon nzType="delete" nzTheme="fill"></i>
                  Remover
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyBasketTemplate>
        <div class="purchase">
          <div class="flexed col center">
            <span class="spancer"></span>

            <h1>Ainda não tem productos no seu cesto de compras</h1>

            <div class="sized-box'2"></div>

            <a routerLink="/products" nz-button nzType="danger">
              Ver productos
            </a>

            <span class="spancer"></span>
          </div>
          <div class="sized-box-2"></div>
        </div>
      </ng-template>

    </ng-container>
    <ng-template #loadingItemsTemplate>
      <div class="content-container flexed center">
        <div class="purchase" nz-row [nzGutter]="24">
          <div class="item" *ngFor="let product of [1,2,3]"
               nz-col
               nzXs="24"
               nzSm="12">
            <div class="flexed">
              <app-product-skeleton></app-product-skeleton>

              <span class="spacer"></span>

              <div class="summary flexed col center">
                <section class="quantity">
                  <label for="quantity">
                    <h3>...</h3>
                  </label>
                </section>

                <h3 class="padded-y">00.00</h3>

                <span class="spacer"></span>

                <button nz-button nzType="danger" nzGhost>
                  <i nz-icon nzType="delete" nzTheme="fill"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </ng-template>
  </section>
</div>
