<div class="product">
    <div class="image flexed center">
        <nz-skeleton-element
                             nzType="image"
                             [nzActive]="true"></nz-skeleton-element>
    </div>

    <div class="info">
        <nz-skeleton-element nzType="input"
                             [nzActive]="true"
                             [nzSize]="'small'"
                             style="width:100%; background: red"></nz-skeleton-element>

        <div class="sized-box-05"></div>

        <nz-skeleton-element nzType="input"
                             [nzActive]="true"
                             [nzSize]="'small'"
                             style="width:100%"></nz-skeleton-element>
    </div>
</div>
